.header{
    margin-bottom: 12px;
}
.search{
    display: flex;
    margin-bottom: 12px;
    flex-direction: row;
    justify-content: center;

}
.location{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22px;
}
.icon{
    width:20px;
    height:20px;
}
.sort{
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-right: 22px;
}
.subheader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}