.listSection {
  margin: 16px 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 30px;
}

.image {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgb(220, 220, 220);
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button {
  background-image: url("../../../assets/cart-default.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  bottom: 8px;
  right: 8px;
}
.cartIn {
  background-image: url("../../../assets/cart-in.svg");
}
.name,
.price {
  font-size: 10px;
  cursor: pointer;
}
.price {
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 9px;
}
.date {
  font-size: 8px;
  font-weight: 500;
  color: #8c8c8c;
}
.soldout {
  color: #f13939;
  font-size: 15px;
  font-weight: 600;
  margin-top:auto;
}
.contents {
  display: flex;
}